In [1]:
import mysql.connector

In [11]:
db = mysql.connector.connect(
    host='localhost',
    user='ridhoaryo',
    passwd='do708091Mysql',
    database='ptabc'
)

In [13]:
c = db.cursor()
q = 'select * from karyawan'
c.execute(q)
out = c.fetchall()
print(out)

[(1, {'wanita'}, 'Ana', 'Jl. a', 5000000, datetime.datetime(2019, 11, 21, 9, 35, 24)), (2, {'pria'}, 'Joko', None, 5000000, datetime.datetime(2019, 11, 21, 9, 44, 15)), (4, {'wanita'}, 'Elsa', None, 5000000, datetime.datetime(2019, 11, 21, 9, 43, 29)), (5, {'pria'}, 'Joko', None, 5000000, datetime.datetime(2019, 11, 21, 9, 43, 29)), (6, None, 'Raka', None, 12000000, datetime.datetime(2019, 11, 21, 9, 57, 5)), (8, None, 'Budi', None, 15000000, datetime.datetime(2019, 11, 21, 12, 1, 2)), (9, None, 'Caca', None, 15000000, datetime.datetime(2019, 11, 21, 12, 1, 2))]

In [8]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000011B0A770F48>

In [15]:
q = 'insert into karyawan (nama) values (%s)'
data = ('Andi',)
c.execute(q, data)
db.commit()

In [ ]:
q = 'delete from karyawan where nama = %s'
data = ('Andi',)
c.execute(q, data)
db.commit()